body
{
    font-size: 18px;
    background-color: cornflowerblue;
    color: darkred;
}

button
{
    width: auto;
    min-width: 60px;
    min-height: 40px;
    height: auto;
}

h1
{
    font-size: 40px;
}

div
{
    padding: 5px;
}